body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 20px;
    margin: 0 auto;
    background-color:rgb(18, 24, 19);
}

.main-header {
    margin: 0 auto;
    background-color:rgb(57, 77, 60);
    border-style: groove;
    border-color: wheat;

}
.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-title {
    font-size: 3.5rem;
    color: wheat;
    border-style: solid;
    background-color: rgb(147, 179, 146);
    border-color:wheat;
    padding: 20px;

}

.main-nav {
    margin: 0 auto;
}

.nav-list {
    text-align: right;
    display: block;
    list-style: decimal;
}

.nav-list li {
    display: inline;
    margin-right: 2px;
    padding: 20px;

}

.nav-list a {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: 20px;

}

.nav-list a:hover {
    color: rgb(147, 179, 146);
}

#posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}
.post {
    border: 1px solid wheat;
    text-align: center;
    color: white;
    background-color: rgb(147, 179, 146);
}

.post-title {
    font-size: 4rem;
    color: white;
}

.post-content {
    font-size: 16px;
}

.post-image {
    border-radius: 8px;
    width: 80%;
}

.delete-Btn {
    display: block;
    margin: 20px auto;
    font-size: 20px;
    padding: 8px 30px;
    color:rgb(0, 0, 0);
    background-color: wheat;
    border-radius: 10px;
    cursor: pointer;
}

.edit-Btn {
    display: block;
    margin: 20px auto;
    font-size: 20px;
    padding: 8px 30px;
    color:rgb(0, 0, 0);
    background-color: wheat;
    border-radius: 10px;
    cursor: pointer;
}

#postForm {
    border: 1px solid wheat;
    text-align: center;
    color: white;
    background-color: rgb(147, 179, 146);
}

.post-form {
    border: 1px solid wheat;
    text-align: center;
    color: white;
    background-color: rgb(147, 179, 146);
}